.back-btn {
  padding: 1rem 3rem !important;
}

.icon-arrow {
  font-size: 2rem;
}

.main {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  color: hsl(200, 15%, 8%);
  gap: 10rem;
}

.main-dark-theme {
  color: hsl(0, 0%, 100%);
}

.img {
  width: 60rem;
  height: 40rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title {
  font-size: 3rem;
  color: inherit;
  margin-bottom: 2rem;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
}

.text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.span {
  font-size: 1.6rem;
  font-weight: 700;
}

.border-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.links-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.border-country-link {
  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;
}

@media (max-width: 1400px) {
  .img {
    width: 50rem;
    height: 30rem;
  }
}

@media (max-width: 1200px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .img {
    width: 60rem;
    height: 40rem;
  }
}

@media (max-width: 800px) {
  .info-grid {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .border-container {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .links-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .main {
    gap: 3rem;
  }

  .links-container {
    grid-template-columns: 1fr 1fr;
  }

  .border-container {
    margin-top: 2rem;
  }
}
