.main {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  text-decoration: none;
  color: hsl(200, 15%, 8%);
}

.main-dark-theme {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(100, 100, 111, 0.02) 0px 7px 29px 0px;
}

.info-container {
  padding: 3rem 2rem;
}

.name {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.info-container p {
  font-size: 1.4rem;
}
.info-container span {
  font-size: 1.4rem;
  font-weight: bold;
}

.flag-img {
  width: 24rem;
  height: 15rem;
  object-fit: cover;
}
